@using Hangfire.Mailer.Models
@model ICollection<Hangfire.Mailer.Models.Comment>
@{ ViewBag.Title = "Comments"; }

<h2>Comments</h2>

@if (Model.Count > 0)
{
    foreach (var item in Model)
    {
        <div class="media">
            <div class="media-left">
                <img src="http://placehold.it/64x64">
            </div>
            <div class="media-body">
                <h4 class="media-heading">@item.UserName</h4>
                <p>@item.Text</p>
            </div>
       </div>
    }
}
else
{
    <div class="alert alert-info">There are no comments yet. Try create a new one!</div>
}

@Html.Partial("Create", new Comment())